<%doc>
kkblog ver0.4
using jungleland free template
not support IE678!!!
modified by kk
original template site: styleshout.com
template engine: mako 0.7.3

sub-blocks:
featured
contentbody

title=
navbar_active=
show_featured=
blog_author=
blog_description=
weibo=
twitter=
self_icon=
brief_selfintro=
weibo_box=
twitter_follow=
email_addr=
category_list={"fk":"jiji"}
hot_list=[["title1","description1","url1"],["title2","description2","url2"]]
tag_list={"fk":"jiji","huhuh ":"","aaaAzad":1}
music_list={"hah":"/static/music/msu.mp3","123":"/static/music/nnowr.mp3"}
friend_list=[]
</%doc>
<%
from blog.tmpl_preprocess import article_stable_url,category_url,tag_url,random_tag_color
%>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta charset="utf-8"/>
	<meta name="description" content="kkblog based on django1.5">
	<meta name="author" content="kK">
	<link rel="shortcut icon" href="/static/jungleland/icon.jpg">
	<title>${title}</title>

	<!--jungleland css style-->
	<link rel="stylesheet" type="text/css" media="screen" href="/static/jungleland/css/style.css"/>

	<!--jquery2 and plugins-->
	<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery.backtotop.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>

	<!--self-defined js script-->
	<script type="text/javascript" src="/static/jungleland/kkblog.js"></script>

	<!--bootstrap-->
	<script type="text/javascript" src="/static/jungleland/bootstrap-lite/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/jungleland/bootstrap-lite/bootstrap.min.css" />

	<!--syntax highlighter-->
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushSql.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter/styles/shCoreMidnight.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>

	<script type="text/javascript" >
<%
#dump python dictionary into json
import simplejson
music_list_json=simplejson.dumps(music_list)
%>
//json for music list when rendering the template
//music_list:mapping of musicname and url
//music_names:array of music names
var music_list=${music_list_json};
var music_names=[];
for(s in music_list)music_names.push(s);
	</script>
</head>

<body id="top">
<!-- msgbox and querybox
============================================================================= -->

<!--simple modal msgbox-->
<div id="simple_modal" class="modal hide fade in" style="text-align:left;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="simple_modal_caption" style="color:rgb(0,0,0);text-shadow:none;"></h3>
  </div>
  <div class="modal-body">
    <p id="simple_modal_text" style="color:rgb(0,0,0);text-shadow:none;"></p>
  </div>
  <div class="modal-footer">
    <button id="simple_modal_ok" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</button>
  </div>
</div>

<!--floating upper button-->
<a href="javascript:;"><div class="go-up-button">上</div></a>

<!--loading status demo-->


<!-- header
============================================================================= -->
<div id="header-wrap"><header>

        <hgroup>
            <h1><a href="/">${blog_author}的博客</a></h1>
            <h5>${blog_description}</h5>
        </hgroup>

		<nav>
		    <ul>
		    	%if navbar_active==0:
			    <li id="current"><a href="/">主页</a><span></span></li>
			    <li><a href="/category">分类</a><span></span></li>
			    <li><a href="/archive">归档</a><span></span></li>
			    <li><a href="/commentbox">留言板</a><span></span></li>
			    <li><a href="/about">关于</a><span></span></li>
			    %elif navbar_active==1:
			    <li><a href="/">主页</a><span></span></li>
			    <li id="current"><a href="/category">分类</a><span></span></li>
			    <li><a href="/archive">归档</a><span></span></li>
			    <li><a href="/commentbox">留言板</a><span></span></li>
			    <li><a href="/about">关于</a><span></span></li>
			    %elif navbar_active==2:
			    <li><a href="/">主页</a><span></span></li>
			    <li><a href="/category">分类</a><span></span></li>
			    <li id="current"><a href="/archive">归档</a><span></span></li>
			    <li><a href="/commentbox">留言板</a><span></span></li>
			    <li><a href="/about">关于</a><span></span></li>
			    %elif navbar_active==3:
			    <li><a href="/">主页</a><span></span></li>
			    <li><a href="/category">分类</a><span></span></li>
			    <li><a href="/archive">归档</a><span></span></li>
			    <li id="current"><a href="/commentbox">留言板</a><span></span></li>
			    <li><a href="/about">关于</a><span></span></li>
			    %elif navbar_active==4:
			    <li><a href="/">主页</a><span></span></li>
			    <li><a href="/category">分类</a><span></span></li>
			    <li><a href="/archive">归档</a><span></span></li>
			    <li><a href="/commentbox">留言板</a><span></span></li>
			    <li id="current"><a href="/about">关于</a><span></span></li>
			    %else:
			    <li><a href="/">主页</a><span></span></li>
			    <li><a href="/category">分类</a><span></span></li>
			    <li><a href="/archive">归档</a><span></span></li>
			    <li><a href="/commentbox">留言板</a><span></span></li>
			    <li><a href="/about">关于</a><span></span></li>
			    %endif
		    </ul>
	    </nav>

        <div class="subscribe">
        	<a href="${weibo}" target="_blank">
            	<img data-toggle="tooltip" data-placement="bottom" title="" data-original-title="微博" src="/static/sns_icons/sina_32.png">
            </a>
        	<a href="${twitter}" target="_blank">
        		<img data-toggle="tooltip" data-placement="bottom" title="" data-original-title="推特" src="/static/sns_icons/twitter_32.png">
            </a>
        	<a href="/rss" target="_blank">
        		<img data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS" src="/static/sns_icons/rss_32.png">
            </a>
        </div>

        <form id="quick-search" action="/" method="get">
            <fieldset class="search">
                <label for="qsearch">搜索博文：</label>
                <input class="tbox" id="qsearch" type="text" name="qsearch" placeholder="搜索博文" title="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="搜索博文" />
                <button class="searchbtn" id="search_for"></button>
            </fieldset>
        </form>

	<!-- /header -->
</header></div>

%if show_featured==True:
<!-- featured
============================================================================== -->
<%block name="featured"/>
%endif

<!-- Content
============================================================================== -->
<div id="content-wrap-home">

    <!-- main -->
    <section id="main">
    <%block name="contentbody"/>
    </section>

    <!-- sidebar -->
    <aside id="sidebar">
				<div class="sidemenu">
					<h3>分类</h3>
					<ul>
						%for i in category_list:
						<li><a href="${category_url(i.id)}">${i.name}</a></li>
						%endfor
					</ul>
				</div>

				<div class="sidemenu">
					<h3>标签</h3>
                    <ul>
				%for i in tag_list:
                  %if i!=tag_list[0]:
                    <a href="${tag_url(i.name)}"><span class="label label-${random_tag_color()}">${i.name}</span></a>
                  %else:
                    <a href="${tag_url(i.name)}"><span class="label label-${random_tag_color()}" style="font-size:30px;">${i.name}</span></a>
                  %endif
                %endfor
                    </ul>
				</div>

				<div class="sidemenu">
					<h3>热门点击</h3>
					<ul>
						%for i in hot_list:
						<li><a title="" href="${article_stable_url(i["id"])}">${i["title"]}
                            <span>${i["access_frequence"]}次查看, 时间:${i["datetime"].year}.${i["datetime"].month}.${i["datetime"].day}, 分类:${i["category_key"]["name"]}</span>
                        </a></li>
                        %endfor
					</ul>
				</div>

				<div class="sidemenu" 
				%if len(music_list)==0:
					style="display:none;"
				%endif
				>
					<a href="javascript:;"><span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点此禁用" id="no-auto-play" class="badge badge-success" style="display:none;float:right;z-index:99;">自动播放</span></a>
					<a href="javascript:;"><span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点此启用" id="auto-play" class="badge badge-important" style="display:none;float:right;z-index:99;">自动播放已禁用</span></a>
					<h3>音乐盒子</h3>
					<ul id="music_list" class="nav nav-pills nav-stacked">
						<audio id="audio_bgmusic" controls style="width: 300px;"></audio>
						
					</ul>
				</div>

				%if weibo_box!="" and weibo_box!=None:
				<div class="sidemenu">
					<h3>博主微博</h3>
                    <ul>
                    	${weibo_box}
                    </ul>

				</div>
				%endif

				<div class="sidemenu">
					<h3>QR码</h3>
                    <ul>
                    	<img src="/static/site_qr.png">
                    </ul>
				</div>

<%doc>
	            <div class="sidemenu">
	            	<h3>接入登陆</h3>
	            	<ul>
	            		<a href="" target="_blank">
            	            <div class="connectlogin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击使用新浪账户接入登陆本网站" style="background:url(/static/sns_icons/sina_32.png) no-repeat 0 center;"></div>
                        </a>
	            		<a href="" target="_blank">
            	            <div class="connectlogin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击使用人人网账户接入登陆本网站" style="background:url(/static/sns_icons/renren_32.jpg) no-repeat 0 center;"></div>
                        </a>
	            		<a href="" target="_blank">
            	            <div class="connectlogin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击使用谷歌账户接入登陆本网站" style="background:url(/static/sns_icons/google_32.png) no-repeat 0 center;"></div>
                        </a>
	            		<a href="" target="_blank">
            	            <div class="connectlogin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击使用推特账户接入登陆本网站" style="background:url(/static/sns_icons/twitter_32.png) no-repeat 0 center;"></div>
                        </a>
	                </ul>
		        </div>
</%doc>
	<!-- /sidebar -->
	</aside>

</div>

<!-- extra
============================================================================== -->
<div id="extra-wrap"><div id="extra" class="clearfix">

    <div class="xcol">
		    <h3>联系博主</h3>
            <p><strong>E-mail: </strong>${email_addr}</p>
            <h3>社交平台</h3>
	        <div class="footer-list social">
			    <ul>
			    	<li class="weibo"><a href="${weibo}" target="_blank">微博</a></li>
				    <li class="twitter"><a href="${twitter}" target="_blank">推特</a></li>
				    <li class="rss"><a href="/rss" target="_blank">RSS</a></li>
			    </ul>
		    </div>
	</div>

    <div class="xcol">
            <h3>本站链接</h3>
	        <div class="footer-list">
			    <ul>
				    <li><a href="/">主页</a></li>
				    <li><a href="/category">分类</a></li>
				    <li><a href="/archive">归档</a></li>
				    <li><a href="/commentbox">留言板</a></li>
                    <li><a href="/about">关于</a></li>
			    </ul>
		    </div>
    </div>

    <div class="xcol">
            <h3>友情链接</h3>
	        <div class="footer-list">
			    <ul>
			    	%for i in friend_list:
				    <li><a href="${i}" target="_blank">${friend_list[i]}</a></li>
				    %endfor
			    </ul>
		    </div>
	</div>

    <div class="xcol last">
        <h3>关于博主</h3>
        <p>
        	<a><img width="40" height="40" class="align-left" alt="chrome" src="${self_icon}"/></a>
        	${brief_selfintro}
        	<a href="/about">更多…</a>
        </p>
    </div>

</div></div>

<!-- footer
============================================================================== -->
<footer class="clearfix">
	<p class="footer-left">
		kKBlog0.4 powered by <a href="http://www.python.org/" target="_blank">Python3</a> + <a href="https://www.djangoproject.com/" target="_blank">Django1.5</a> , feel free to fork it at <a href="https://github.com/kk71/kkblog" target="_blank">Github</a>
	</p>

	<p class="footer-right">
	   	<a href="/">主页</a> |
		<a href="/">站点地图</a> |
        <a class="back-to-top" href="javascript:;">回到页顶</a>
    </p>
<!-- /footer -->
</footer>

</body>
</html>