<%inherit file="base.html"/>
<%doc>
kkblog category page

list_description:分类的描述，显示在list的最上面。
list_type:0归档 1分类 2标签
pagi:是否显示分页栏
lists:(根据list_type改变)
0:[year,month,full,[]]
1:[category,category_id,full,[]]
2:[tag,None,full,[]]
3:[None,None,None,[]]

</%doc>

<%block name="contentbody">
<%
from blog.tmpl_preprocess import archive_url,tag_url,category_url,article_stable_url
%>
	%if list_description!="":
		<div class="post">
			<p class="highlight">${list_description}</p>
		</div>
	%endif
	%if len(lists)==0:
		<h5>空…</h5>
	%endif
	%for c in lists:
		%if c[2]==False:
		%if list_type==0:
        	<h2><a href="${archive_url(c[0],c[1])}">归档${c[0]}年${c[1]}月</a></h2>
        %elif list_type==1:
        	<h2><a href="${category_url(c[1])}">分类为“${c[0]}”的博文</a></h2>
        %elif list_type==2:
        	<h2><a href="${tag_url(c[0])}">包含标签“${c[0]}”的博文</a></h2>
        %elif list_type==3:
        %endif
        %endif
		<ul class="archive">
			%if len(c[3])==0:
				无……
			%endif
            %for i in c[3]:
		   	<li>
				<div class="post-title"><a href="${article_stable_url(i["id"])}">${i["title"]}</a></div>
		   		<div class="post-details">分类<a href="${category_url(i["category_key"]["id"])}">${i["category_key"]["name"]}</a>, 发布于<a>${i["datetime"].year}年${i["datetime"].month}月${i["datetime"].day}日</a>, 阅读${i["access_frequence"]}次</div>
			</li>
            %endfor
		</ul>
		%if c[2]==False and len(c[3])!=0:
			%if list_type==0:
			<p><a href="${archive_url(c[0],c[1])}" class="more"> 查看全部 » </a></p>
			%elif list_type==1:
			<p><a href="${category_url(c[1])}" class="more"> 查看全部 » </a></p>
			%elif list_type==2:
			<p><a href="${tag_url(c[0])}" class="more"> 查看全部 » </a></p>
			%elif list_type==3:
			%endif
		%endif
		<br><br><br>
	%endfor
	<br><br><br>
	%if pagi==True and len(lists[0][3])!=0:
<%include file="pagination.html"/>
	%endif
</%block>