<%inherit file="base.html"/>

<%block name="content">
<%doc>
title
csrf_token=""
article={}
categories={}
</%doc>

<%
from blog.tmpl_preprocess import list_to_tag
from simplejson import dumps
%>

<div class="">

	<h3>${title}</h3>
    <form enctype="multipart/form-data" method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
		<input id="id_title" style="width:80%" type="text" value="${article["title"]}" placeholder="标题">

		<textarea id="id_content" rows="16" style="width:100%;"></textarea>

		<div style="margin-top:20px;">
			<select id="id_category_key">
				%for i in categories:
				%if i.id==article["category_key"]["id"]:
				<option value="${i.id}" selected="">${i.name}</option>
				%else:
				<option value="${i.id}">${i.name}</option>
				%endif
				%endfor
			</select>
			<input id="id_tags" type="text" value="${list_to_tag(article["tags"])}" placeholder="标签多个标签用“,”逗号分开。">
			<label style="float:right;width:50px;" class="checkbox">
				%if article["shown"]==True:
				<input type="checkbox" id="id_shown" name="shown" value="on" checked>显示 
				%else:
				<input type="checkbox" id="id_shown" name="shown" value="on">显示
				%endif
			</label>
			<input type="text" id="id_thumbnail_length" value="${article["thumbnail_length"]}" style="width:60px;" placeholder="缩略长度"/>
		</div>
		<br>
		<div style="float:right;">
			<input type="button" class="btn btn-primary btn-large" id="save_article" value="保存">
			%if article["id"]!=None:
			<a href="/admin/blog/article/${article["id"]}/delete/"><input type="button" class="btn btn-danger btn-large" value="删除"></a>
			%endif
			<a href="/admin/blog/article/"><input id="pageup" type="button" class="btn btn-large" value="放弃并返回"></a>
		</div>
    </form>
</div>

<script type="text/javascript">
var keditor;
var csrfmiddlewaretoken=$("input[name=csrfmiddlewaretoken]").val();

window.onbeforeunload=function(){
	return "将丢失一切未存改动？";
}

$(document).ready(function(){

var default_html=${dumps(article["content"])};
KindEditor.ready(function(K) {
	keditor=K.create("#id_content",
	{
		allowFileUpload:false,
		allowFileManager:false,
		allowFlashUpload:false,
		allowMediaUpload:false,
		allowImageUpload:false,
		uploadJson:"/uploadimage",
		extraFileUploadParams:{csrfmiddlewaretoken:csrfmiddlewaretoken}
	});
	keditor.html(default_html);
});

$("#save_article").click(function(){
	var to_post={
		csrfmiddlewaretoken:csrfmiddlewaretoken,
		title:$("#id_title").val(),
		content:keditor.html(),
		thumbnail_plain:keditor.text(),
		thumbnail_length:$("#id_thumbnail_length").val(),
		tags:$("#id_tags").val(),
		category_key:$("#id_category_key").val()
	};
	var shown=document.getElementById("id_shown").checked;//not using jQuery
	if(shown==true)
		to_post["shown"]="on";
	$.post("",to_post).fail(function(s){
		alert(s.responseText);
	}).success(function(){
		window.onbeforeunload=null;
		window.location.href="/admin/blog/article/";
	});

});

});
</script>
</%block>