<%inherit file="base.html"/>

<%block name="content">
<%doc>
csrf_token=""
title=""
cmt={}
mail_from=""
blog_owner_name=""

</%doc>

<%
from blog.tmpl_preprocess import article_stable_url
%>
<div>
	<h3>${title}</h3>

<div class="accordion" id="accordion_comment">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_comment" href="#collapse_info">
        留言基本信息
      </a>
    </div>
    <div id="collapse_info" class="accordion-body collapse in">
      <div class="accordion-inner">

		<p>昵称：${cmt["nickname"]}</p>
	%if cmt["website"]!="":
		<p>网站：<a href="${cmt["website"]}" target="_blank">${cmt["website"]}</a></p>
	%endif
	%if cmt["email"]!="":
		<p>EMail：${cmt["email"]}</a></p>
	%endif
		<p>留言时间：${cmt["datetime"].date()} ${cmt["datetime"].time()}</p>
		<p>IP：${cmt["ip_address"]}</p>
		<p>留言：${cmt["message"]}</p>

      </div>
    </div>
  </div>

%if cmt["refered_comment"]!=None:
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_comment" href="#collapse_refered_comment">
        关联留言
      </a>
    </div>
    <div id="collapse_refered_comment" class="accordion-body collapse">
      <div class="accordion-inner">

      	<%cmt_ref=cmt["refered_comment"]%>
		<p>昵称：${cmt_ref["nickname"]}</p>
	%if cmt_ref["website"]!="":
		<p>网站：<a href="${cmt_ref["website"]}" target="_blank">${cmt_ref["website"]}</a></p>
	%endif
	%if cmt_ref["email"]!="":
		<p>EMail：${cmt_ref["email"]}</a></p>
	%endif
		<p>留言时间：${cmt_ref["datetime"].date()} ${cmt_ref["datetime"].time()}</p>
		<p>IP：${cmt_ref["ip_address"]}</p>
		<p>留言：${cmt_ref["message"]}</p>

      </div>
    </div>
  </div>
%endif

%if cmt["refered_article"]!=None:
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_comment" href="#collapse_refered_article">
        关联博文
      </a>
    </div>
    <div id="collapse_refered_article" class="accordion-body collapse">
      <div class="accordion-inner">

      	<p><a href="${article_stable_url(cmt["refered_article"]["id"],False)}" target="_blank">${cmt["refered_article"]["title"]}</a></p>

      	${cmt["refered_article"]["thumbnail_plain"]}
        
      </div>
    </div>
  </div>
%endif
</div>

	<br>
    <form action="" method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
		%if cmt["email"]!="":
		<input style="width:30%" name="mail_to" type="text" value="${cmt["email"]}" placeholder="回复邮箱">
		%endif
		<textarea name="message" rows="6" style="width:100%;" placeholder="回复"></textarea>
		<br>
		<div style="float:right;">
			<input type="submit" class="btn btn-primary btn-large" name="reply" value="回复">
			%if cmt["shown"]==True:
			<input type="submit" class="btn btn-danger btn-large" name="mark_read" value="隐藏">
			%else:
			<input type="submit" class="btn btn-danger btn-large" name="mark_read" value="显示">
			%endif
			<a href="/admin/blog/comment/"><input id="pageup" type="button" class="btn btn-large" value="返回"></a>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){

});
</script>
</%block>