<%inherit file="base.html"/>
<%doc>
kkblog article page

sub-blocks:

include:
pagination.html

</%doc>

<%block name="contentbody">
<%doc>
article=article dict
</%doc>
<%
from blog.tmpl_preprocess import tag_url,archive_url,category_url
%>

<article class="post">
	<h2><a>${article["title"]}</a></h2>
	<p>
		分类<a href="${category_url(article["category_key"]["id"])}">${article["category_key"]["name"]}</a> &nbsp;
		|&nbsp; 归档<a href="${archive_url(article["datetime"].year,article["datetime"].month)}"><span class="date">${article["datetime"].year}年${article["datetime"].month}月</span></a> &nbsp;
		|&nbsp; 评论<a href="#comment" class="comments">${len(article["comments"])}</a> &nbsp;
		|&nbsp; 阅读<a>${article["access_frequence"]}</a>
	</p>

<div class="article-content">
${article["content"]}
</div>

%if len(article["tags"])!=0:
	<p class="tags">
		<span>标签：</span>
		%for i in article["tags"]:
			<a href="${tag_url(i)}">${i}</a>, 
		%endfor
	</p>
%endif
	<div class="postmeta">
		<spam class="share_tip">分享到</spam>
		<div class="share_group">
			<!--share to weibo-->
			<a href="javascript:;" ><img class="share_icon" id="share_to_weibo" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="分享到微博" src="/static/sns_icons/sina_32.png"></a>
			<!--share to renren-->
			<a href="javascript:;" ><img class="share_icon" id="share_to_renren" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="分享到人人" src="/static/sns_icons/renren_32.jpg"></a>
			<!--share to douban-->
			<a href="javascript:;" ><img class="share_icon" id="share_to_douban" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="分享到豆瓣" src="/static/sns_icons/douban_32.png"></a>
			<!--share to twitter-->
			<a href="javascript:;" ><img class="share_icon" id="share_to_twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="分享到推特" src="/static/sns_icons/twitter_32.png"></a>
			<!--share to facebook-->
			<a href="javascript:;" ><img class="share_icon" id="share_to_facebook" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="分享到脸书" src="/static/sns_icons/facebook_32.png"></a>
			<!--share to google+-->
			<a href="javascript:;" ><img class="share_icon" id="share_to_googlep" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="分享到google+" src="/static/sns_icons/google_32.png"></a>
		</div>
	</div>
</article>

<h3>评论</h3>
<%include file="comment.html"/>

<h3>评论列表</h3>
<div id="comment_list" class="box">
	移动鼠标查看评论列表……
</div>

<script type="text/javascript">

$(document).ready(function(){
	$("#comment_list").mousemove(function(){
		$("#comment_list").unbind("mousemove");
		fetch_comment_list(${article["id"]},1);
	});

	$("#share_to_weibo").click(function(){share_to(0,"${article["title"]}")});
	$("#share_to_renren").click(function(){share_to(1,"${article["title"]}")});
	$("#share_to_twitter").click(function(){share_to(2,"${article["title"]}")});
	$("#share_to_facebook").click(function(){share_to(3,"${article["title"]}")});
	$("#share_to_googlep").click(function(){share_to(4,"${article["title"]}")});
	$("#share_to_douban").click(function(){share_to(5,"${article["title"]}")});
});
</script>
</%block>