<%inherit file="base.html"/>

<%block name="contentBody">

<article class="post">
	<h2><a>${article.title}</a></h2>
	<p>
		分类<a href="${article.category.getUrl()}">${article.category.name}</a> &nbsp;
		|&nbsp; 归档<a href="${article.archive.getUrl()}"><span class="date">${article.archive}</span></a> &nbsp;
		|&nbsp; 评论<a href="#comment" class="comments">${len(article.comments.filter(shown=True).all())}</a> &nbsp;
		|&nbsp; 阅读<a>${article.accessFrequency}</a>
	</p>

<div class="article-content">
${article.content}
</div>

%if len(article.tags.all())!=0:
	<p class="tags">
		<span>标签：</span>
		%for i in article.tags.all():
			<a href="${i.getUrl()}">${i.name}</a>,
		%endfor
	</p>
%endif
	<div class="postmeta">
		<spam class="share_tip">分享到</spam>
		<div class="share_group" ng-controller="shareBox">
			<!--share to weibo-->
			<a href="javascript:;" ng-click="shareTo(0,'${article.title}')"><img class="share_icon"  title="分享到微博" src="/static/sns_icons/sina_32.png"></a>
			<!--share to renren-->
			<a href="javascript:;" ng-click="shareTo(1,'${article.title}')"><img class="share_icon" title="分享到人人" src="/static/sns_icons/renren_32.jpg"></a>
			<!--share to douban-->
			<a href="javascript:;" ng-click="shareTo(2,'${article.title}')"><img class="share_icon" title="分享到豆瓣" src="/static/sns_icons/douban_32.png"></a>
			<!--share to twitter-->
			<a href="javascript:;" ng-click="shareTo(3,'${article.title}')"><img class="share_icon" title="分享到推特" src="/static/sns_icons/twitter_32.png"></a>
			<!--share to facebook-->
			<a href="javascript:;" ng-click="shareTo(4,'${article.title}')"><img class="share_icon" title="分享到脸书" src="/static/sns_icons/facebook_32.png"></a>
			<!--share to google+-->
			<a href="javascript:;" ng-click="shareTo(5,'${article.title}')"><img class="share_icon" title="分享到google+" src="/static/sns_icons/google_32.png"></a>
		</div>
	</div>
</article>

<%include file="comment.html"/>
</%block>