<%doc>
kkblog comment list

comment_list=[{"id":0,"datetime":"2013","nickname":"kk","website":"","refered_comment":{},"refered_article":id_number,"message":"qqqq"}]
pagi=
</%doc>

%if len(comment_list)==0:
	没有评论。
%else:
<ol class="commentlist">
%for i in comment_list:
<li class="depth-1">
	<div class="comment-info">
		<cite>
			%if i["website"]!="":
			<a href="${i["website"]}">${i["nickname"]}</a>说： <br>
			%else:
			<a>${i["nickname"]}</a>说： <br>
			%endif
			<span class="comment-data"><a>${i["datetime"].year}年${i["datetime"].month}月${i["datetime"].day}日 ${i["datetime"].hour}时${i["datetime"].minute}分</a></span>
		</cite>
	</div>
	<div class="comment-text">
		<p>${i["message"]}</p>
		<div class="reply">
			<a rel="nofollow" class="comment-reply-link" href="#comment" onclick="reply_comment(${i["id"]},'${i["nickname"]}');">回复</a>
		</div>
	</div>

	%if i["refered_comment"]!=None:
	<ul class="children">
		<li class="depth-2">
			<div class="comment-info">
				<cite>
					%if i["refered_comment"]["website"]!="":
					引用<a href="${i["refered_comment"]["website"]}">${i["refered_comment"]["nickname"]}</a>：<br>
					%else:
					引用<a>${i["refered_comment"]["nickname"]}</a>：<br>
					%endif
					<span class="comment-data"><a>${i["refered_comment"]["datetime"].year}年${i["refered_comment"]["datetime"].month}月${i["refered_comment"]["datetime"].day}日 ${i["refered_comment"]["datetime"].hour}时${i["refered_comment"]["datetime"].minute}分</a></span>
				</cite>
			</div>
			<div class="comment-text">
				<p>${i["refered_comment"]["message"]}</p>
			</div>
		</li>
	</ul>
	%endif
</li>
%endfor
</ol>
%endif
%if pagi==True and len(comment_list)!=0:
<%include file="pagination.html"/>
%endif

<script type="text/javascript">
$(document).ready(function(){

})
</script>