<div ng-controller="comment" id="comment">
<script type="text/javascript">
    var articleId = ${article.id}; //int
    var commentVerify = ${str(config.commentVerify).lower()}; //bool
    var csrf_token="${csrf_token}"; //string
</script>

<h3>评论</h3>
<form name="commentForm">
	<div>
		<p>{{ commentType }}</p>
	</div>
	<div>
		<label>昵称 <span class="required">*</span></label>
		<input type="text" name="nickname" ng-model="comment.nickname" required>
	</div>
	<div>
		<label>Email（不会被公开）</label>
		<input type="email" name="email" ng-model="comment.email" ng-init="comment.email=''">
	</div>
	<div>
		<label>个人网站</label>
		<input type="url" name="website" ng-model="comment.website" ng-init="comment.website=''">
	</div>
	<div>
		<label>内容 <span class="required">*</span></label>
		<textarea rows="9" cols="45" name="message" ng-model="comment.message" required></textarea><br>
	</div>
	<div class="no-border">
		<input type="button" value="提交" class="button"
               ng-click="postComment(comment)"
               ng-disabled="!commentForm.$valid">
		<input type="button" value="放弃回复" class="button" ng-show="replyCommentId!=0" ng-click="noReply()">
        <p style="color: rgb(255,0,0)" ng-hide="commentForm.nickname.$valid && commentForm.message.$valid">“ * ”必填</p>
        <p style="color: rgb(255,0,0)" ng-hide="commentForm.email.$valid || comment.email==''">电子邮箱地址有误。</p>
        <p style="color: rgb(255,0,0)" ng-hide="commentForm.website.$valid || comment.website==''">个人网站地址有误。</p>
	</div>
</form>


<h3>评论列表</h3>
<div ng-show="commentList.length==0">
    没有评论。
</div>

<div ng-show="errorFlag">
    拉取评论失败。
</div>

<ol class="commentlist">
<li class="depth-1" ng-repeat="i in commentList">
	<div class="comment-info">
		<cite>
			<a href="{{ i.website }}" target="_blank">{{ i.nickname }}</a>说： <br>
			<span class="comment-data"><a>
                {{ i.datetime }}
            </a></span>
		</cite>
	</div>
	<div class="comment-text">
		<p>{{ i.message }}</p>
		<div class="reply">
			<a rel="nofollow" class="comment-reply-link" href="#comment"
               ng-click="reply(i.id,i.nickname);">回复</a>
		</div>
	</div>

	<ul class="children" ng-hide="i.parent==null">
		<li class="depth-2">
			<div class="comment-info">
				<cite>
                    引用 <a href="{{ i.parent.website }}" target="_blank">{{ i.parent.nickname }}</a>：<br>
			        <span class="comment-data"><a>
                        {{ i.parent.datetime }}
                    </a></span>
				</cite>
			</div>
			<div class="comment-text">
                <p>{{ i.parent.message }}</p>
			</div>
		</li>
	</ul>

</li>
</ol>

</div>