<%inherit file="base.html"/>

<%block name="contentBody">

%if len(display_list)==0:
	<h5>没有博文…</h5>
%else:
	%for i in displayList:
        <article class="col">
            <div class="top">
               <h3><a href="${i.getUrl())}">${i.title}</a></h3>
               <p><a href="${i.archive.getUrl()}"><span class="datetime">${i["datetime"].year}年${i["datetime"].month}月${i["datetime"].day}日</span></a><a class="comment" href="${article_stable_comment(i["id"])}">${len(i["comments"])}条评论</a></p>
            </div>
            <div class="content">
            	<p>${i["content"][:i["thumbnail_length"]]}</p>

				<p><a href="${article_stable_url(i["id"])}" class="more" >继续阅读 »</a></p>
			</div>
        </article>
        <br><br><br>
        <div class="fix"></div>
    %endfor
        <div class="fix"></div>

        <%include file="pagination.html" />
%endif

</%block>