<%inherit file="base.html"/>

<%block name="contentBody">
	%if listDescription!="":
		<div class="post">
			<p class="highlight">${listDescription}</p>
		</div>
	%endif

	%if not lists:
		<h5>空…</h5>
	%endif

	%for c in lists:
		%if c[1]==False:
		%if listType==0:
        	<h2><a href="${c[0].getUrl()}">归档${c[0]}</a></h2>
        %elif listType==1:
        	<h2><a href="${c[0].getUrl()}">分类为“${c[0].name}”的博文</a></h2>
        %elif listType==2:
        	<h2><a href="${c[0].getUrl()}">包含标签“${c[0].name}”的博文</a></h2>
        %elif listType==3:
        %endif
        %endif
		<ul class="archive">
			%if len(c[2])==0:
				无……
			%endif
            %for i in c[2]:
		   	<li>
				<div class="post-title"><a href="${i.getUrl()}">${i.title}</a></div>
		   		<div class="post-details">分类<a href="${i.category.getUrl()}">${i.category.name}</a>, 发布于<a>${i.createDatetime.strftime("%Y-%m-%d")}</a>, 阅读${i.accessFrequency}次</div>
			</li>
            %endfor
		</ul>
		%if c[1]==False and len(c[2])!=0:
			%if listType!=3:
            <p><a href="${c[0].getUrl()}" class="more"> 查看全部 » </a></p>
			%endif
		%endif
		<br><br><br>
	%endfor

    %if listType==0:
        %for i in legacyYears:
        <h2><a href="${config.domainName}/archive/${i}/">历史归档：${i}年</a></h2>
        %endfor
    %endif

	<br><br><br>
	%if showPaginator==True and len(lists[0][2])!=0:
    <%include file="pagination.html"/>
	%endif
</%block>