<%doc>
pages=12
current=12
url_template="%i"
</%doc>

<div class="pagination">
%if pages==1:#===========================================================1

%elif 1<pages<=9:#=======================================================[2,9]

%if current>1 and current<pages:
<p>
	<a href="${url_template%(current-1)}" class="pagi">上一页</a>
	%for i in range(pages):
		%if i+1!=current:
			<a href="${url_template%(i+1,)}" class="pagi">${i+1}</a>
		%else:
			<a class="pagi-current">${i+1}</a>
		%endif
	%endfor
	<a href="${url_template%(current+1)}" class="pagi">下一页</a>
</p>

%elif current==1:

<p>
	%for i in range(pages):
		%if i+1!=current:
			<a href="${url_template%(i+1,)}" class="pagi">${i+1}</a>
		%else:
			<a class="pagi-current">${i+1}</a>
		%endif
	%endfor
	<a href="${url_template%(current+1)}" class="pagi">下一页</a>
</p>

%elif current==pages:

<p>
	<a href="${url_template%(current-1)}" class="pagi">上一页</a>
	%for i in range(pages):
		%if i+1!=current:
			<a href="${url_template%(i+1,)}" class="pagi">${i+1}</a>
		%else:
			<a class="pagi-current">${i+1}</a>
		%endif
	%endfor
</p>

%endif

%else:#===================================================================


%if current==1:

<p>
	%for i in range(9):
		%if i+1!=current:
			<a href="${url_template%(i+1,)}" class="pagi">${i+1}</a>
		%else:
			<a class="pagi-current">${i+1}</a>
		%endif
	%endfor
	<a href="${url_template%(2,)}" class="pagi">下一页</a>
</p>

%elif current==pages:

<p>
	<a href="${url_template%(current-1)}" class="pagi">上一页</a>
	%for i in range(pages-9,pages):
		%if i+1!=current:
			<a href="${url_template%(i+1,)}" class="pagi">${i+1}</a>
		%else:
			<a class="pagi-current">${i+1}</a>
		%endif
	%endfor
</p>

%elif 1<current<5:

<p>
	<a href="${url_template%(current-1)}" class="pagi">上一页</a>
	%for i in range(current+5):
		%if i+1!=current:
			<a href="${url_template%(i+1,)}" class="pagi">${i+1}</a>
		%else:
			<a class="pagi-current">${i+1}</a>
		%endif
	%endfor
	<a href="${url_template%(current+1,)}" class="pagi">下一页</a>
</p>

%elif 5<=current<=pages-4:



%elif current>pages-4:

<p>
	<a href="${url_template%(current-1)}" class="pagi">上一页</a>
	%for i in range(current-5,pages,1):
		%if i+1!=current:
			<a href="${url_template%(i+1,)}" class="pagi">${i+1}</a>
		%else:
			<a class="pagi-current">${i+1}</a>
		%endif
	%endfor
	<a href="${url_template%(current+1,)}" class="pagi">下一页</a>
</p>

%endif

%endif
</div>